body {
  font-family: 'Roboto', sans-serif;
}

h1 {
    text-emphasis-color:lightblue
}

.media img {
  width: 64px;
  height: 64px;
}

 div { text-align: center; }
 ul { display: inline-block; text-align: left; }

 h1 {
     color:cadetblue;
     font-style:italic;
 }

h4{
    color:cadetblue;
    font-syle:italic;

}

 h5 {
     color:black;
     font-size: 16px
 }

 h6 {
     color:gray;
     font-size: 12px
 }

 .footerdesign{
  height: 5rem;
}

.footer img {
  width: 50px;
  align-content: center;
  margin-top: 1rem;
}