body {
  font-family: 'Roboto', sans-serif;
}

.media img {
  width: 64px;
  height: 64px;
}

 div { text-align: center; }
 ul { display: inline-block; text-align: left; }

 h5 {
     color:gray;
     font-size: 8px
 }